* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
}

.txt_hide {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.index_header {
  -webkit-box-shadow: 0 4px 5px 0 #0000001a;
          box-shadow: 0 4px 5px 0 #0000001a;
  padding: 22px 0;
}

.list_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  max-width: 1280px;
}

.list_nav .wrap_navItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list_nav .wrap_logo li:first-child,
.list_nav .wrap_icon li:first-child {
  margin-right: 30px;
}

.list_nav .form_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 46px;
}

.list_nav .form_search .inp_search {
  border: 1px solid #21BF48;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-right: none;
  padding-left: 10px;
  width: calc(100% - 32px);
}

.list_nav .form_search .btn_search {
  border: 1px solid #21BF48;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-left: none;
  padding: 0 15px 0 5px;
  background: none;
  cursor: pointer;
}

.list_nav .form_search .btn_search:hover {
  background-color: #21bf4931;
}

.list_nav .wrap_icon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  color: #767676;
}

.list_nav .wrap_icon .img_icon {
  width: 32px;
  height: 32px;
}

.index_footer {
  padding-bottom: 66px;
  background-color: #F2F2F2;
}

.wrap_footer {
  margin: auto;
  max-width: 1280px;
}

.wrap_footer .wrap_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 1px solid #C4C4C4;
  margin-bottom: 30px;
  padding: 54px 0 22px;
}

.wrap_footer .wrap_list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap_footer .wrap_list .list_rules li:not(li:last-child) {
  border-right: 1px solid black;
}

.wrap_footer .wrap_list .list_rules a {
  margin: 0 14px;
  font-size: 14px;
}

.wrap_footer .wrap_list .list_sns {
  -webkit-column-gap: 14px;
          column-gap: 14px;
}

.wrap_footer .txt_gray {
  display: block;
  margin-bottom: 5px;
  font-style: normal;
  font-size: 14px;
  color: #767676;
}

.sec_modal.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec_modal {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #C4C4C4;
  width: 360px;
  height: 200px;
  text-align: center;
  background-color: white;
  z-index: 50;
}

.sec_modal .list_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.sec_modal .list_btn li:first-child {
  margin-right: 10px;
}

.sec_modal .btn_modal {
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  color: #767676;
  background: none;
  cursor: pointer;
}

.sec_modal .btn_modal.on {
  border: none;
  color: white;
  background-color: #21BF48;
}

.sec_modal .btn_close {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background: none;
  cursor: pointer;
}

.txt_bag {
  margin: 54px 0 52px;
  font-size: 36px;
  text-align: center;
}

.list_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
  width: 1280px;
  margin: auto;
  padding: 18px 130px 18px 30px;
  background-color: #F2F2F2;
}

.list_info li {
  font-size: 18px;
}

.sec_none.on {
  display: block;
}

.sec_none {
  display: none;
  width: 1280px;
  margin: 200px auto 0;
}

.sec_none h3 {
  font-size: 18px;
  text-align: center;
}

.sec_none p {
  font-size: 14px;
  text-align: center;
  color: #767676;
}

.sec_itemList.on {
  display: block;
}

.sec_itemList {
  display: none;
  width: 1280px;
  margin: 35px auto 0;
}

.item_myBag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 20px 100px 20px 30px;
}

.item_myBag .wrap_productInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item_myBag .wrap_productInfo .img_bag {
  width: 160px;
  height: 160px;
  margin-right: 36px;
}

.item_myBag .wrap_txt small {
  font-size: 14px;
  color: #767676;
}

.item_myBag .wrap_txt p {
  margin: 18px 0;
  font-size: 18px;
}

.item_myBag .wrap_txt strong {
  font-size: 16px;
  font-weight: 700;
}

.item_myBag .wrap_txt span {
  font-size: 14px;
}

.item_myBag .wrap_txt .txt_package {
  display: block;
  margin: 40px 0 0;
  color: #767676;
}

.item_myBag .wrap_order strong {
  display: block;
  margin-bottom: 26px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #EB5757;
}

.item_myBag .wrap_order .btn_order {
  border: none;
  border-radius: 5px;
  width: 130px;
  height: 40px;
  color: white;
  background-color: #21BF48;
  cursor: pointer;
}

.item_myBag .btn_delete {
  position: absolute;
  top: 18px;
  right: 18px;
  border: none;
  width: 22px;
  height: 22px;
  background: none;
  cursor: pointer;
}

.wrap_count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap_count button {
  cursor: pointer;
}

.wrap_count button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.wrap_count button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrap_count .item_box {
  border: 1px solid #C4C4C4;
  width: 50px;
  height: 50px;
  background: none;
}

.wrap_count .txt_count {
  border-left: none;
  border-right: none;
  line-height: 50px;
  text-align: center;
}

.sec_sum .wrap_sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
  width: 1280px;
  margin: 80px auto 0;
  padding: 46px 91px 34px 121px;
  background-color: #F2F2F2;
}

.sec_sum .wrap_sum p {
  text-align: center;
}

.sec_sum .wrap_sum p:last-child {
  font-weight: 700;
}

.sec_sum .wrap_sum p:last-child strong {
  color: #EB5757;
}

.sec_sum .wrap_sum strong {
  display: block;
}

.sec_sum .wrap_sum .txt_price {
  font-size: 24px;
}

.sec_sum .wrap_sum .txt_sumPrice {
  font-size: 36px;
  color: #EB5757;
}

.sec_sum .btn_sumOrder {
  display: block;
  border: none;
  border-radius: 10px;
  width: 220px;
  height: 68px;
  margin: 40px auto 160px;
  font-size: 24px;
  font-weight: 700;
  color: white;
  background-color: #21BF48;
  cursor: pointer;
}

.sec_modal .wrap_count {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1280px) {
  .index_header {
    width: 1280px;
  }
  .index_footer {
    width: 1280px;
  }
}
/*# sourceMappingURL=cart.css.map */