@import 'utilCode';
@import 'openMarket';
@import 'navAndFooter';
@import 'modal';

.cash_main {
  width: 1280px;
  margin: auto;
}
.wrap_cash {
  margin: 54px 0 96px;
  text-align: center;
  h2 {
    margin-bottom: 52px;
  }
  .list_info {
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    width: 1280px;
    margin: 0 auto 16px;
    padding: 18px 0;
    background-color: $color-back;
    li {
      font-size: $font-l;
    }
    div {
      width: 100%;
    }
    .wrap_listR {
      display: flex;
      justify-content: space-between;
      li:last-child {
        margin-right: 82px;
      }
    }
  }
  .item_product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color-lightgray;
    padding: 8px 0 18px 8px;
    .img_product {
      width: 104px;
      height: 104px;
      margin-right: 36px;
    }
    .txt_productInfo {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-right: auto;
      small {
        font-size: $font-s;
        color: $color-darkgray;
      }
      strong {
        margin: 6px 0 10px 0;
      }
    }
    .wrap_listR {
      display: flex;
      justify-content: space-between;
      p {
        font-size: $font-l;
      }
      .txt_package {
        margin: 0 190px 0 203px;
        color: $color-darkgray;
      }
      .txt_product {
        font-weight: 700;
        margin-right: 78px;
      }
    }
  }
  .list_total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 30px 0 96px;
    dt {
      font-size: $font-l;
    }
    dd {
      margin-left: 10px;
      font-size: $font-xl;
      font-weight: 700;
      color: $color-red;
      span {
        color: $color-red;
      }
    }
  }
}
.sec_packageInfo {
  h3 {
    border-bottom: 2px solid $color-lightgray;
    padding-bottom: 18px;
    font-size: $font-xl;
  }
  h4 {
    border-bottom: 1px solid $color-lightgray;
    margin: 40px 0 8px;
    padding-bottom: 8px;
    font-size: $font-l;
  }
  dt {
    width: 150px;
  }
  .inp_layout {
    display: flex;
    border-bottom: 1px solid $color-lightgray;
    margin-bottom: 8px;
    padding-bottom: 8px;
    input {
      width: 334px;
      height: 40px;
    }
    dd {
      display: flex;
      width: 334px;
    }
  }
  .item_phone {
    display: flex;
    justify-content: space-between;
    input {
      width: 100px;
    }
    // input:nth-child(2) {
    //   &::before {

    //   }
    //   &::after {

    //   }
    // }
  }
  .wrap_address {
    display: flex;
    border-bottom: 1px solid $color-lightgray;
    margin-bottom: 8px;
    button {
      border: none;
      border-radius: 5px;
      width: 154px;
      height: 40px;
      margin-left: 10px;
      color: white;
      background-color: $color-main;
      cursor: pointer;
    }
    .div_search {
      display: flex;
      margin-bottom: 8px;
      input {
        width: 170px;
        height: 40px;
      }
    }
    .div_address {
      display: flex;
      flex-direction: column;
      input {
        width: 800px;
        height: 40px;
        margin-bottom: 8px;
      }
    }
  }
  .wrap_massage {
    display: flex;
    border-bottom: 1px solid $color-lightgray;
    margin-bottom: 80px;
    padding-bottom: 8px;
    input {
      width: 800px;
      height: 40px;
    }
  }
}
.sec_cashWay {
  float: left;
  margin-right: 40px;
  h3 {
    font-size: $font-xl;
    border-bottom: 2px solid $color-lightgray;
    margin-bottom: 18px;
    padding-bottom: 18px;
  }
  .list_cashWay {
    display: flex;
    width: 760px;
    border-bottom: 2px solid $color-lightgray;
    padding-bottom: 18px;
    li:not(li:last-child) {
      margin-right: 20px;
    }
  }
}
.sec_final {
  float: left;
  margin-bottom: 358px;
  h3 {
    font-size: $font-xl;
    padding-bottom: 18px;
  }
  .wrap_final {
    border: 2px solid $color-main;
    border-radius:5px;
    width: 480px;
  }
  .wrap_dl {
    padding: 34px 30px 0;
    .wrap_lastOrder {
      border-top: 1px solid $color-lightgray;
      padding-top: 25px;
    }
  }
  .wrap_detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    .txt_price {
      font-size: $font-l;
      font-weight: 700;
    }
    .txt_red {
      color: $color-red;
    }
  }
  .wrap_check {
    padding: 32px 30px;
    text-align: center;
    background-color: $color-back;
    button {
      border: none;
      border-radius: 5px;
      width: 220px;
      height: 68px;
      margin-top: 30px;
      font-size: $font-xl;
      font-weight: 700;
      color: white;
      background-color: $color-lightgray;
      cursor: pointer;
    }
  }
}
.index_footer {
  clear: both;
}