@import 'utilCode';
@import 'openMarket';
@import 'navAndFooter';
@import 'modal';

.index_main {
  position: relative;
}
// Slide
.sec_slide {
  position: relative;
  .list_slide {
    width: 100%;
    height: 500px;
    background-color: $color-back;
  }
  .btn_slide {
    border: none;
    position: absolute;
    top: 50%;
    width: 60px;
    height: 124px;
    transform: translateY(-50%);
    background: none;
    cursor: pointer;
  }
  .btn_slide:hover {
    background-color: #21bf4931;
  }
  .btn_lSlide {
    left: 30px;
    img {
      transform: rotateY(180deg) 
    }
  }
  .btn_rSlide {
    right: 30px;
  }
  .list_btnSlide {
    display: flex;
    column-gap: 6px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    .btn_dot {
      border: none;
      border-radius: 100%;
      width: 6px;
      height: 6px;
      background-color: white;
      cursor: pointer;
    }
    .btn_dot.on {
      background-color: black;
    }
  }
}
// Products info
.sec_products {
  margin: 80px auto 0;
  padding-bottom: 180px;
  max-width: 1280px;
  .list_product {
    display: flex;
    flex-wrap: wrap;
    row-gap: 78px;
    column-gap: 70px;
    width: 1280px;
    .item_product {
      display: flex;
      flex-direction: column;
    }
    .img_product {
      border: 1px solid $color-lightgray;
      border-radius: 10px;
      width: 380px;
      height: 380px;
      cursor: pointer;
    }
    .txt_cate {
      margin-top: 16px;
      font-size: $font-m;
      color: $color-darkgray;
    }
    .txt_name {
      margin: 10px 0;
      font-size: $font-l;
    }
    .txt_price {
      font-size: $font-xl;
    }
    .txt_unit {
      font-size: $font-m;
      font-weight: 400;
    }
  }
}
// MyPage & Logout
.sec_navModal.on {
  display: block;
}
.sec_navModal {
  display: none;
  position: absolute;
  top: -7px;
  right: 305px;
  border-radius: 10px;
  box-shadow: 0px 3px 1px 1px $color-lightgray;
  padding: 10px;
  width: 130px;
  height: 108px;
  background-color: white;
  .btn_modal {
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    color: $color-darkgray;
    background: none;
    cursor: pointer;
  }
  .btn_modal:hover {
    border: 1px solid black;
    color: black;
  }
  .btn_myPage {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 1280px) {
  .index_header {
    width: 1280px;
  }
  .index_main {
    width: 1280px;
    .sec_modal {
      right: 0px;
    }
  }
  .index_footer {
    width: 1280px;
  }
}