@import 'utilCode';
@import 'mixin';
@import 'openMarket';

.main_login {
  @include basic(550px,'',auto,'');
  .img_logo {
    display: block;
    margin: 100px auto 140px;
  }
  .txt_tab {
    border: 1px solid $color-non;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 275px;
    padding: 20px;
    font-size: $font-l;
    text-align: center;
    background-color: white;
    cursor: pointer;
  }
  .list_login {
    position: relative;
    .btn_customer {
      position: absolute;
      top: -60px;
      left: 0;
      height: 61px;
      background-color: white;
    }
    .btn_seller {
      position: absolute;
      top: -60px;
      right: 0;
      height: 60px;
      background-color: $color-back;
    }
  }
  label {
    color: $color-sub;
  }
  input {
    border: 1px solid $color-non;
    border-radius: 5px;
    width: 480px;
    height: 54px;
    margin: 10px 0 12px;
    padding-left: 5px;
  }
  .inp_rePw {
    margin-bottom: 50px;
  }
  .btn_login {
    border: none;
    border-radius: 5px;
    width: 480px;
    height: 60px;
    @include font($font-l, bold, white);
    background-color: $color-non;
    cursor: pointer;
  }
  .list_new {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    li {
      padding: 0 14px;
    }
    .item_new {
      border-right: 2px solid $color-non;
    }
  }
}
.sec_customer {
  display: block;
  background-color: white;
  .form_customer {
    @include border(1px, solid, $color-non, 10px);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 34px 35px;
  }
}
.sec_seller {
  display: none;
}