* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
}

.txt_hide {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.index_header {
  -webkit-box-shadow: 0 4px 5px 0 #0000001a;
          box-shadow: 0 4px 5px 0 #0000001a;
  padding: 22px 0;
}

.list_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  max-width: 1280px;
}

.list_nav .wrap_navItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list_nav .wrap_logo li:first-child,
.list_nav .wrap_icon li:first-child {
  margin-right: 30px;
}

.list_nav .form_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 46px;
}

.list_nav .form_search .inp_search {
  border: 1px solid #21BF48;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-right: none;
  padding-left: 10px;
  width: calc(100% - 32px);
}

.list_nav .form_search .btn_search {
  border: 1px solid #21BF48;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-left: none;
  padding: 0 15px 0 5px;
  background: none;
  cursor: pointer;
}

.list_nav .form_search .btn_search:hover {
  background-color: #21bf4931;
}

.list_nav .wrap_icon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: #767676;
}

.list_nav .wrap_icon .img_icon {
  width: 32px;
  height: 32px;
}

.index_footer {
  padding-bottom: 66px;
  background-color: #F2F2F2;
}

.wrap_footer {
  margin: auto;
  max-width: 1280px;
}

.wrap_footer .wrap_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 1px solid #C4C4C4;
  margin-bottom: 30px;
  padding: 54px 0 22px;
}

.wrap_footer .wrap_list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap_footer .wrap_list .list_rules li:not(li:last-child) {
  border-right: 1px solid black;
}

.wrap_footer .wrap_list .list_rules a {
  margin: 0 14px;
  font-size: 14px;
}

.wrap_footer .wrap_list .list_sns {
  -webkit-column-gap: 14px;
          column-gap: 14px;
}

.wrap_footer .txt_gray {
  display: block;
  margin-bottom: 5px;
  font-style: normal;
  font-size: 14px;
  color: #767676;
}

.index_header {
  position: relative;
}

.sec_modal.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec_modal {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #C4C4C4;
  width: 360px;
  height: 200px;
  text-align: center;
  background-color: white;
  z-index: 50;
}

.sec_modal .list_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.sec_modal .list_btn li:first-child {
  margin-right: 10px;
}

.sec_modal .btn_modal {
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  color: #767676;
  background: none;
  cursor: pointer;
}

.sec_modal .btn_modal.on {
  border: none;
  color: white;
  background-color: #21BF48;
}

.sec_modal .btn_close {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background: none;
  cursor: pointer;
}

.sec_navModal.on {
  display: block;
}

.sec_navModal {
  display: none;
  position: absolute;
  top: 83px;
  right: 305px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 1px 1px #C4C4C4;
          box-shadow: 0px 3px 1px 1px #C4C4C4;
  padding: 10px;
  width: 130px;
  height: 108px;
  background-color: white;
  z-index: 10;
}

.sec_navModal .btn_modal {
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  color: #767676;
  background: none;
  cursor: pointer;
}

.sec_navModal .btn_modal:hover {
  border: 1px solid black;
  color: black;
}

.sec_navModal .btn_myPage {
  margin-bottom: 8px;
}

.index_header .wrap_header {
  max-width: 1280px;
  margin: auto;
}

.index_header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.index_header h1 {
  font-size: 30px;
  margin-left: 16px;
}

.seller_main {
  padding: 38px 0 96px;
  max-width: 1280px;
  margin: auto;
}

.wrap_dashBoard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 38px;
}

.wrap_dashBoard strong {
  font-size: 36px;
}

.wrap_dashBoard strong span {
  color: #21BF48;
}

.wrap_dashBoard .btn_upload {
  border-radius: 5px;
  width: 168px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  color: white;
  background-color: #21BF48;
}

.wrap_dashBoard .btn_upload::before {
  content: '';
  display: inline-block;
  position: relative;
  top: 7px;
  background-image: url(../img/icon-plus.png);
  width: 30px;
  height: 30px;
  background-position: center center;
}

.wrap_tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap_tabs .list_tabs {
  margin-right: 30px;
}

.wrap_tabs .list_tabs .btn_clicked {
  color: white;
  background-color: #21BF48;
}

.wrap_tabs .list_tabs .btn_clicked:hover {
  background-color: #21BF48;
}

.wrap_tabs .list_tabs button {
  border: none;
  border-radius: 5px;
  width: 250px;
  height: 50px;
  padding-left: 30px;
  text-align: left;
  font-weight: 700;
  background-color: white;
  cursor: pointer;
}

.wrap_tabs .list_tabs button:hover {
  background-color: #EFFFF3;
}

.wrap_tabs .wrap_items {
  width: 1280px;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
}

.wrap_tabs .list_theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #C4C4C4;
  padding: 18px 50px 18px 200px;
}

.wrap_tabs .list_items li {
  border-bottom: 1px solid #C4C4C4;
}

.wrap_tabs .list_items a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 30px;
}

.wrap_tabs .list_items a img {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  margin-right: 30px;
}

.wrap_tabs .list_items .wrap_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap_tabs .list_items .wrap_name p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap_tabs .list_items .wrap_name strong {
  margin-bottom: 10px;
  font-size: 18px;
}

.wrap_tabs .list_items .wrap_name small {
  color: #767676;
}

.wrap_tabs .list_items .btn_modify {
  border: none;
  border-radius: 5px;
  width: 80px;
  height: 40px;
  color: white;
  background-color: #21BF48;
  cursor: pointer;
}

.wrap_tabs .list_items .btn_delete {
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  width: 80px;
  height: 40px;
  color: #767676;
  background-color: white;
  cursor: pointer;
}

.wrap_tabs .list_items .btn_delete:hover {
  border: 1px solid #767676;
  color: black;
}
/*# sourceMappingURL=seller.css.map */